<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include "transportapp/html/common_css.html"%}
    <style>
        .w-100{
            height: 50vh;
        }
        p{
          text-align: justify;
        }
        h4{
          font-weight: 700;
        }
    </style>
</head>
<body>
    {%include "transportapp/html/common_header.html"%}
    <div style="height:200px;width: 100%; background-color: #02223F;">
    <h1 style="font:Yantramanav, sans-serif;font-weight: 900; font-size: 64px;margin-left: 200px;color:white;">ABOUT US</h1>
    </div>
    <div class="row" style="margin-left: 100px;">
      <div class="col-3" style="margin: 20px; background-color: #FEECE7;">
        <img src="{%static  'transportapp/images/d1.png'%}" style="height: 80px;">
        <h4>Our Vision</h4>
        <p style="text-align: justify;">To stay ahead among our rivals in the transport and logistics industry by providing world-class and innovative moving solutions to our clients. We wish to become the top choice of our cus- tomers when they are looking for a reliable, af- fordable and professional transporter.</p>
      </div>
      <div class="col-3" style="margin: 20px; background-color: #E6E6E9;">
        <img src="{%static  'transportapp/images/d2.png'%}" style="height: 80px;">
        <h4>Our Mission</h4>
        <p style="text-align: justify;">Stay responsive to consumers' requirement,
          find innovative and flexible solutions and strive to achieve customer satisfaction with our per- formance, honesty, and integrity. We aim to achieve our esteemed patrons' trust and de- velop a lasting relationship with them.</p>
      </div>
      <div class="col-3" style="margin: 20px; background-color: #E5F3FD;">
        <img src="{%static  'transportapp/images/d3.png'%}" style="height: 80px;">
        <h4>Our Commitment</h4>
        <p style="text-align: justify;">We are a dedicated group of professionals, committed to delivering value for you. You will get what we have promised you. We don't make false promises and don't hide anything from you. When we make the commitment, you will get the delivery- no excuses.</p>
      </div>
    </div>
    <!-- <marquee onmouseover="this.stop()" onmouseleave="this.start()">Eat an apple in a day</marquee> -->
    <div class="row">
      <div class="col-5">
        <img src="{%static  'transportapp\images\trucks\T1.jpg'%}" alt="Loading" style="height: 675px;width: 640px; margin-left: 20px;">
      </div>
      <div class="col-6">
        <h3 style="font:Yantramanav, sans-serif; font-size: 40px; font-weight: 900;margin-left: 40px;">ADVANCED AND AFFORDABLE TRANSPORTATION SERVICES</h3>
        <p style="margin-left: 40px;">TruckGuru is amongst the most renowned and appreciated cargo service providers in the industry. We started our journey with the aim of delivering the logistics and transportation excellence to our customers ensuring their comfort as well as success.<br>

          At TruckGuru, we render a broad spectrum of services incorporating Roadways Transportation Services, Logistics Services, Supply Chain Consulting, Warehouse Management, Inventory Control, Bulk Parcel Delivery etc. We provide innovative and dynamic transport solution with the right people, modern techniques, and advanced technologies to drive unmatched value for your business. Today, our company has firmly established itself as the 'Market Leader' in the logistics and supply chain industry in India. Drawing inspiration from our work and the standard we set, we have been proving ourselves every day in best quality, cost effectiveness, client satisfaction and assurance to deadlines.<br>
          
          We are backed by a qualified, skilled, dedicated and professional workforce that offer end-to-end cargo handling solutions and cater to logistics needs of every consumer involved in the supply chain. All time-bound project cargo, urgent dispatches, fragile items, hazardous chemicals, vaccines, pharmaceutical products, electronic goods, automobile items, hardware, perishable shipments and many more are the part of our day-to-day routine and handled with enthusiasm and professionalism. TruckGuru offers cutting-edge and state-of-the-art transport solutions to its customers, helping them to focus on their core competencies and business operations. Our company adds value to businesses at every level, right from delivering first-rate warehousing assistance to ensuring time-bound deliveries of goods anywhere across the country.<br>
          
          Our web portal “truckguru.co.in” has entirely transformed the way you book or hire the truck. This portal has made it easy and simple to avail our transport services within a minute. With this amazing online truck booking platform, we cover the whole process from truck booking to payments and documentation.</p>
      </div>
    </div>
    <div class="row" style="width: 100%; height: auto;background-color: #02223F;">
      <div class="col-5" style="margin-left: 80px; ">
        <h2 style="font:Yantramanav, sans-serif; font-size: 40px; font-weight: 900;color: white;margin-left: 20px;">WHY CHOOSE FOR US </h2>
        <p style="color: white;">We are very passionate about what we do! We have everything that all is required to move your goods safely and damage-free. So, choosing us means picking the smartest way to streamline the moving operations in your business and focus on your core operations.</p>
       <div class="row">
        <div class="col-1">
        <img src="{%static  'transportapp\images\icon-1.png'%}">
      </div>
      <div class="col">
        <h5 style="color: white;margin-left: 20px;">FULL LOAD SERVICES</h5>
        <p style="color: white; margin-left: 20px;">
          We provide Full Truck load transportation services with varied type of trucks available with the click of a button.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
        <img src="{%static  'transportapp\images\icon-2.png'%}">
      </div>
      <div class="col">
        <h5 style="color: white; margin-left: 20px;">TRANSPARENT PRICING</h5>
        <p style="color: white; margin-left: 20px;">
          With our fare calculator, we instantaneously give you best possible rates online.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
        <img src="{%static  'transportapp\images\icon-3.png'%}">
      </div>
      <div class="col">
        <h5 style="color: white; margin-left: 20px;">QUICK & EASY PORTAL</h5>
        <p style="color: white; margin-left: 20px;">
          Hiring a truck is now just a click away, through our hassle free online booking system.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
        <img src="{%static  'transportapp\images\icon-4.png'%}">
      </div>
      <div class="col">
        <h5 style="color: white; margin-left: 20px;">ADVANCE BOOKING</h5>
        <p style="color: white; margin-left: 20px;">
          Our vehicle availability is guaranteed on daily/weekly/monthly basis to ensure on-time reporting.</p>
        </div>
      </div>
      </div>
      <div class="col-6" >
        <img src="{%static  'transportapp\images\trucks\T3.jpg'%}" alt="Loading..." style="height: 525px; width: 750px; margin: 20px;">
      </div>
    </div>  
    
    {%include "transportapp/html/common_footer.html"%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>