<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include "transportapp/html/common_css.html"%}
</head>
<body>
    {%include "transportapp/html/common_header.html"%}
    <div style="height:200px;width: 100%; background-color: #02223F;">
        <h1 style="font:Yantramanav, sans-serif;font-weight: 900; font-size: 64px;margin-left: 200px;color:white;">FAQ</h1>
        </div>
    <div class="row">
        <h1 style="font: Yantramanav, sans-serif; font-weight: 700;padding-left: 120px;">FREQUENTLY ASKED QUESTIONS</h1>
        <p style="padding-left: 120px;">If you do not find the answer to your question, then please contact our customer service team who will be happy to assist you</p>
      <div class="col-7 mb-3" style="padding-left: 120px;">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                How do I request a booking?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Our booking system is a simplified process. You can place a booking request online on our website/App or you can call our customer care number 73908 11702. Our team after verification finds the nearest truck for you.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How would I know my fare charges & bill amount?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Once our system receives your booking, you will be notified of the approximate distance that your goods will travel, and accordingly your bill amount will be calculated. With our fare calculator, we instantaneously give you the best rate online.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Why do i need to pay token amount for booking confirmation ? What are the different modes of payment accepted by you?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">We take token amount for booking confirmation for assurance that our Truck will be loaded once reached client pickup location.Customers can make payments via PAYTM / UPI. We accept all types of cards, so you can easily make a payment online.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                How will I receive my invoice?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">You will receive an auto-generated invoice on your registered e-mail ID once the consignment has been delivered.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                Can I place a booking with multiple pick-up and drop?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">You can definitely do so. However, extra costs for the extra point of delivery or pick-up will be levied accordingly. Our team will provide you with the additional cost incurred at the time of booking. </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                How can I cancel my booking? Will I be charged a cancellaton fee?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Currently, you are required to raise a cancellation request through the customer care number available on our website. Cancellation will then be approved as per the terms and conditions. A cancellation fee would also be applicable if our Truck has reached client pickup location.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                Is there a possibility of truck being a no-show once the booking has been confirmed?
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">We are committed to fulfil our responsibility toward all confirmed bookings. In the event of not being able to do so due to unforeseen circumstances, you will be notified well ahead of the pick-up time.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                Can I change the vehicle type after it has reached the pick-up point?
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">You can change the vehicle type after it has reached its pick-up destination at an extra cost. You will be charged a cancellation fee as per the company terms and conditions.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                Do you also provide loading/unloading & packing services?
              </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">All services confirmed through us include only transportation of goods. If any manpower & packing assistance is needed, we will give assistance in arranging as per requirement at extra cost. We do not guarantee packing and labour services.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                How many days or hours in advance do I need to make my booking?
              </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Currently we are accepting bookings at the least an hour prior to your desired pick-up time.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEleven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                Who will generate an e-way bill?
              </button>
            </h2>
            <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Consignor or Consignee before movement of goods needs to Generate Part A & B e-way bill. Eway Bill is not required for household items.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwelve">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                Estimate fare shown in website is it Final Fare?
              </button>
            </h2>
            <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">No the Website / App gives Estimate cost & the final fare will be shared by our executive after verification of your pickup and drop location, weight, material details etc.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThirteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                What are the additional charges or waiting charges?
              </button>
            </h2>
            <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body" style="text-align: justify;">If the truck has reached client location and there is delay in loading per day waiting charges range from 1000 to 5000 depending on vehicle type , if the vehicle is not loaded and returned empty customer is liable to pay driver fuel charges and waiting charges.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFourteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                Do you provide Parcel,bike, courier or car transport service?
              </button>
            </h2>
            <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">We only provide full truck transport services, we do not provide services for courier, parcels or car transportation.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFifteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
                What are the GST charges on Fare Amount?
              </button>
            </h2>
            <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">GST is Payable on Reverse Charge Mechanism: GST @ 5%.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img src="{%static  'transportapp\images\drivers\d16.jpg'%}" class="mb-3" width="600px" style="border: 3px solid;">
        <img src="{%static  'transportapp\images\drivers\d17.jpg'%}" width="600px" style="border: 3px solid;">
      </div>
      </div>
      <hr>
    {%include "transportapp/html/common_footer.html"%}
    {%include "transportapp/html/common_js.html"%}
</body>
</html>