<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include "transportapp/html/common_css.html"%}
</head>
<body>
    {%include "transportapp/html/common_header.html"%}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for obj in feed_key %}
    
      <div class="col">
    <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{obj.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{obj.ratings}}</h6>
          <p class="card-text">{{obj.feedback_text}}</p>
        </div>
      </div>
      </div>
      
    {% endfor %}
  </div>
    {%include "transportapp/html/common_footer.html"%}
    {%include "transportapp/html/common_js.html"%}
</body>
</html>